.achievemeants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 32px;
  background: #E9F8FF;
  padding: 40px 0;

  @media (max-width: 768px) {
    display: none;
  }

  h1 {
    color: #F04E69;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 32%;

    h2 {
      color: #0E3862;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
    }

    p {
      color: #00AEEF;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .items {
    display: flex;
    padding-bottom: 10px;
    gap: 20px;
  }
}

.achievemeantsMobile {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  h1 {
    color: #F04E69;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }

  .link {
    align-self: center;
  }

  :global {
    .swiper-slide {
      height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 16px;
    background: #E9F8FF;
    width: 100%;
    height: 100%;
    padding: 10px 6px;

    h2 {
      color: #00AEEF;
      text-align: center;
      font-size: 10px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
      padding: 6px 0 3px 0;
    }

    p {
      color: #0E3862;
      text-align: center;
      font-size: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3;
    }
  }
}