.achievemeants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 32px;
  background: #E9F8FF;
  padding: 40px 0;

  @media (max-width: 768px) {
    display: none;
  }

  h1 {
    color: #F04E69;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    /* 127.778% */
  }

  .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 32%;

    h2 {
      color: #0E3862;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      /* 128.571% */
    }

    p {
      color: #00AEEF;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      /* 133.333% */
    }
  }

  .items {
    display: flex;
    padding-bottom: 10px;
    gap: 20px;
  }
}

.achievemeantsMobile {


  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  h1 {
    color: #F04E69;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }

  .link {
    align-self: center;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: #E9F8FF;
    width: 95%;
    margin: 0 auto;
    padding: 24px;

    h2 {
      color: #00AEEF;
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      /* 127.273% */
      padding: 12px 0 6px 0;
    }

    p {
      color: #0E3862;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      /* 150% */
    }
  }
}