.content {
  display: flex;
  flex-direction: column;
  gap: 120px;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 100px 0 120px 0;
  width: 95%;
}

.title {
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  padding: 60px 20px;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;

  h1 {
    text-align: center;
    margin: 0;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    color: #fff;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .fondPage {

    .title {
      padding: 30px 20px;

      h1 {
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
      }
    }

    .content {
      gap: 40px;
      padding: 40px 0 0 0;

    }
  }
}


