.title {
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    gap: 10px;

    h1 {
        text-align: center;
        margin: 0;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0%;
        color: #fff;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        color: #fff;
        padding: 0;
    }

    @media screen and (max-width: 750px) {
        width: 95%;
        padding: 0px;
        padding-bottom: 30px;
        margin: 0 auto;
        gap: 6px;
        justify-content: flex-end;
        text-align: left;
        align-items: flex-start;

        h1 {
            font-size: 28px;
            line-height: 36px;
        }

        p {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;

        }
    }


}

.content {
    display: flex;
    flex-direction: column;
    gap: 120px;
    max-width: var(--max-width);
    width: 95%;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
        gap: 60px;

    }
}