.headerDown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 0 0 32px 32px;
  gap: 36px;
  width: 100%;
  position: relative;
  background-color: #fff;
  z-index: 11;
  box-shadow: 0 120px 34px 0 rgba(0, 0, 0, 0.00), 0 77px 31px 0 rgba(0, 0, 0, 0.01), 0 43px 26px 0 rgba(0, 0, 0, 0.05), 0 19px 19px 0 rgba(0, 0, 0, 0.09), 0 5px 11px 0 rgba(0, 0, 0, 0.10);
}

@media (max-width: 1280px) {
  .headerDown {
    gap: 20px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  .mainIcon {
    margin-right: 6px;
  }
}

.logoText {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .bold {
    color: #00aeef;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .bright {
    color: #00aeef;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
}

.btnLink {
  text-decoration: none;
}

.btn {
  padding: 6px 10px !important;

  color: #fff;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 28px !important; /* 127.273% */
}
