.VacanciesPage {
  margin-top: -30px;
  .bannerTitel {
    height: 100%;
    max-width: var(--max-width);
    display: flex;
 flex-direction: column;
   align-items: center;
    justify-content: flex-end;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 65px;
    gap: 20px;
    h1 {
      color:  #FFF;
      text-align: center;
      font-size:  48px;
      font-style: normal;
      font-weight: 700;
      line-height:  58px;
    }
    p {
      color:  #FFF;
      text-align: center;
      font-size:  36px;
      font-style: normal;
      font-weight: 700;
      line-height:  46px;
    }
  }
  .contend {
    max-width: var(--max-width);
    width: 95%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 20px;
    text-align: center;
    h2 {
      color:  #00AEEF;
      font-size:  36px;
      font-style: normal;
      font-weight:  700;
      line-height: 46px;
    }
    .items {
      display: flex;
 flex-direction: column;
      gap: 20px;
    }
  }
  @media screen and (max-width: 750px) {
    .bannerTitel {
      padding-bottom: 35px;
      gap: 6px;
      h1 {
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
      }
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }
    }
.contend {
  padding-top: 40px;
  padding-bottom: 40px;
  h2 {
    color: #00AEEF;
    text-align: center;
    font-size:  22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }

}

  }
}