.member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  h2 {
    color: #f04e69;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
    text-align: center;
  }

  p {
    color: #1c1c1c;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 127.273% */
  }
}

.memberImage {
  position: relative;
  width: 600px;
  height: 417px;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .member {
    gap: 10px;

    .title {
      gap: 6px;

      h2 {
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
      }

      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }
    }

    .memberImage {
      width: 362px;
      height: 251px;
    }
  }
}

