.container {

  .description {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding: 30px;
    align-items: center;
    border-radius: 32px;
    background: #C7EAFB;
    box-shadow: 0 78px 22px 0 rgba(0, 0, 0, 0.00), 0 50px 20px 0 rgba(0, 0, 0, 0.01), 0 28px 17px 0 rgba(0, 0, 0, 0.05), 0 12px 12px 0 rgba(0, 0, 0, 0.09), 0 3px 7px 0 rgba(0, 0, 0, 0.10);
    margin-top: 80px;

    .descriptionText {
      display: flex;
      gap: 20px;
      text-align: left;

      span {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      h3 {
        color: #F04E69;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
      }

      p {
        color: #F04E69;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
      }
    }

    .descriptionImage {
      width: 200px;
      height: 200px;
      min-width: 200px;
      min-height: 200px;
      border-radius: 32px;
      background: rgba(0, 0, 0, 0.20);
    }
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .image {
    position: relative;
    max-width: 526px;
    width: 100%;
    height: 316px;

    span {
      position: relative;
      max-width: 526px;
      width: 100%;
      height: 284px;
      flex-shrink: 0;
      border-radius: 32px;
      background: #0e3862;
    }

    .img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 496px !important;
      width: 100%;
      height: 284px;
      border-radius: 32px;
      object-fit: cover;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    h1 {
      color: #00aeef;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 127.273% */
    }

    p {
      color: #1c1c1c;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      padding-left: 10px; /* 127.273% */
    }
  }
}

.howTitle {
  color: #0e3862;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  padding: 70px 0 20px 0;
}

.storiesSwiper {
  padding: 0;
  overflow: visible;

  .how {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    width: 100%;
    height: 278px;
    border-radius: 20px;
    background: #c7eafb;

    .number {
      color: #f04e69;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 57.6px */
      letter-spacing: 0.25px;
    }

    h3 {
      color: #00aeef;
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 127.273% */
    }

    p {
      color: #1c1c1c;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
  }
}

.videoTitle {
  overflow: hidden;
  color: #1a1a1a;
  text-overflow: ellipsis;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 127.778% */
  padding: 100px 0 30px 0;
}

.videoWrapper {
  position: relative;
  width: 100%;

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 16px;
  }
}


@media (max-width: 768px) {
  .about {
    flex-direction: column;
    gap: 20px;

    .image {
      //width: 100%;
      //height: auto;

      span {
        width: 100%;
      }

      .img {
        width: 100% !important;
      }
    }

    .text {
      align-items: center;
      text-align: center;

      h1 {
        color: var(--System-Colors-Web-color-secondary, #F04E69);
        font-size: var(--heading-font-size-heading-md, 22px);
        font-weight: var(--font-weight-semibold, 600);
        line-height: var(--heading-line-height-heading-md, 28px); /* 127.273% */
      }

      p {
        font-size: var(--body-font-size-body-xs, 12px);
        font-weight: var(--font-weight-regular, 400);
        line-height: var(--body-line-height-body-xs, 18px); /* 150% */
      }
    }
  }

  .howTitle {
    color: var(--System-Colors-Web-color-secondary, #F04E69);
    font-size: var(--heading-font-size-heading-md, 22px);
    font-weight: var(--font-weight-semibold, 600);
    line-height: var(--heading-line-height-heading-md, 28px); /* 127.273% */
    text-align: center;
    padding: 40px 0 4px 0;
  }

  .storiesSwiper {
    flex-direction: column;
    gap: 20px;

    .how {
      width: 100%;
      height: 224px;
      gap: 6px;
      padding: 20px;

      .title {
        font-size: var(--heading-font-size-heading-sm, 22px);
        font-weight: var(--font-weight-bold, 700);
        line-height: var(--heading-line-height-heading-sm, 28px); /* 127.273% */
      }

      .description {
        font-size: var(--body-font-size-body-sm, 16px);
        font-weight: var(--font-weight-regular, 400);
        line-height: var(--body-line-height-body-sm, 26px); /* 162.5% */
      }

      .number {
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 57.6px */
        letter-spacing: 0.25px;
      }
    }
  }

  .videoTitle {
    color: var(--System-Colors-Web-color-primary, #00AEEF);
    font-size: var(--heading-font-size-heading-md, 22px);
    font-weight: var(--font-weight-semibold, 600);
    line-height: var(--heading-line-height-heading-md, 28px); /* 127.273% */
    text-align: center;
    padding: 40px 0 18px 0;
  }

 .container {
   .description {
     flex-direction: column;
     gap: 12px;
     border-radius: 16px;
     padding: 18px;
     background: #C7EAFB;
     box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.09), 0 3px 7px 0 rgba(0, 0, 0, 0.10);
     margin-top: 40px;

     .descriptionText {
       display: flex;
       flex-direction: column;
       gap: 18px;
       span {
         gap: 12px;
         h3 {
           font-size: 18px;
           line-height: 24px;
           font-weight: 600;
         }
         p {
           font-size: 16px;
           line-height: 24px;
           font-weight: 400;
         }
       }
     }
     .descriptionImage {
       width: 100%;
       border-radius: 14px;
     }
   }
 }
}
