.btn {
  display: flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  color: #fff;
  text-align: center;

  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.btn.blue {
  background-color: #00aeef;
}

.btn.red {
  background-color: #f04e69;
}

.btnFull {
  width: 100%;
}

.btn.blue:hover {
  background-color: #c7eafb;
  color: #0e3862;
}

.btn.red:hover {
  background-color: #c7eafb;
  color: #00aeef;

  .btnIconLeft svg,
  .btnIconRight svg {
    fill: #0e3862; // icon color on hover
  }
}

.btnIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btnIconLeft {
  margin-right: 12px;
}

.btnIconRight {
  margin-left: 12px;
}

/* .btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 174, 239, 0.5);
} */

@media (max-width: 768px) {
  .btn {
    display: flex;
    padding: 8px 6px;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    color: #fff;
    text-align: center;

    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
