.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100000;

  .stages {
    display: flex;
    flex-direction: column;
    gap: 30px;

    max-width: 930px;
    width: 90%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 60px;

    background: #fff;
    position: relative;
    z-index: 100000;
    box-shadow: 0 202px 57px 0 rgba(0, 0, 0, 0.00), 0 129px 52px 0 rgba(0, 0, 0, 0.01), 0 73px 44px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.09), 0 8px 18px 0 rgba(0, 0, 0, 0.10);

    .typesWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;

      .types {
        all: unset;
        color: #B0B0B0;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 127.273% */
        cursor: pointer;
      }

      .activeTypes {
        color: #0E3862;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 127.273% */
        border-bottom: 2px solid #0E3862;
      }
    }


    .input {
      display: flex;
      padding: 20px 30px;
      align-items: center;
      border-radius: 20px;
      border: 2px solid #00AEEF;
      background: #FFF;
      color: #000;
      text-align: left;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;

      &::placeholder {
        color: #B0B0B0;
      }

      &:focus {
        outline: none;
      }
    }

    .btn {
      display: flex;
      padding: 14px 30px;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      border-radius: 20px;
      background: #00AEEF;
      color: #FFF;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      cursor: pointer;
      border: none;
      line-height: 36px;
      margin: 30px 0 14px 0;

      &.loading {
        background: #A0D9EF;
        cursor: not-allowed;

      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      li {
        list-style: none;
        cursor: pointer;
        display: flex;
        padding: 10px 30px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 2px solid #DADADA;
        background: #FFF;
        color: #0E3862;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        transition: all 0.2s ease-in-out;

        &:hover {
          border-color: #00AEEF;
          color: #00AEEF;
        }

        &.active {
          border-color: #00AEEF;
          color: #00AEEF;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .overlay {
    .stages {
      gap: 20px;
      padding: 24px 12px;
      border-radius: 16px;

      .typesWrapper {
        .types {
          font-size: 14px;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
        }

        .activeTypes {
          font-size: 14px;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
        }
      }

      .btn {
        display: flex;
        padding: 8px 18px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        border-radius: 12px;
        background: #00AEEF;
        margin: 0;
      }


      ul {
        gap: 15px;

        li {
          display: flex;
          padding: 4px 8px;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          border-radius: 8px;
          border: 1px solid;
          background: #FFF;
        }
      }

      .input {
        display: flex;
        padding: 6px 8px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: none;
        background: #E7EBEF;
        align-self: stretch;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
}