.appearance {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .title {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;

        h3 {
            color: #F04E69;
            font-size: 36px;
            font-weight: 700;
            line-height: 46px;
            text-align: center;
        }

        p {
            color: #1C1C1C;
            font-size: 22px;
            font-weight: 600;
            line-height: 28px;
            align-items: center;
            text-align: center;
        }
    }

    .subtitle {
        color: #F04E69;
        font-size: 36px;
        font-weight: 700;
        line-height: 46px;
        text-align: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .card {
            padding: 20px 30px;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            border-radius: 32px;
            background: #FFF;
            display: flex;
            gap: 20px;
            justify-content: space-between;
            box-shadow: 0 78px 22px 0 rgba(0, 0, 0, 0.00), 0 50px 20px 0 rgba(0, 0, 0, 0.01), 0 28px 17px 0 rgba(0, 0, 0, 0.05), 0 12px 12px 0 rgba(0, 0, 0, 0.09), 0 3px 7px 0 rgba(0, 0, 0, 0.10);

            .cardText {
                display: flex;
                gap: 30px;
                flex-direction: column;

                span {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h4 {
                        color: #F04E69;
                        font-size: 28px;
                        white-space: nowrap;
                        font-weight: 600;
                        line-height: 36px;
                    }
                }

                p {
                    color: #F04E69;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 28px;
                }
            }

            .cardImage {
                position: relative;
                width: 360px;
                height: 181px;
                flex-shrink: 0;
                border-radius: 32px;
                background: #D9D9D9;
            }

            @media screen and (max-width: 1100px) {
                flex-direction: column;
                gap: 12px;

                .cardText {
                    flex-direction: column;
                    gap: 10px;
                    text-align: left;
                    justify-content: left;
                }

                .cardImage {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 16/9;
                }

                @media screen and (max-width: 750px) {
                    border-radius: 16px;
                    padding: 12px 18px;
                    background: #FFF;
                    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.09), 0 3px 7px 0 rgba(0, 0, 0, 0.10);

                    .cardImage {
                        border-radius: 16px;
                    }

                    .cardText {
                        width: 100%;
                        align-items: flex-start;

                        span {
                            h4 {
                                font-size: 22px;
                                font-weight: 600;
                                line-height: 28px;
                            }
                        }

                        p {
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 24px;
                        }
                    }

                }

            }
        }
    }
     @media screen  and (max-width: 750px) {
        gap: 20px;

        .title {
            gap: 6px;

            h3 {
                font-size: 22px;
                font-weight: 700;
                line-height: 28px;
            }

            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 19px;
            }
        }

        .subtitle {
            font-size: 22px;
            font-weight: 600;
            line-height: 28px;
            padding-top: 20px;
        }
        
     }
}