.news {
    display: flex;
    flex-direction: column;
    gap: 60px;

    padding-bottom: 60px;

    .title {
        display: flex;
        flex-direction: column;
        gap: 14px;
        max-width: var(--max-width);
        padding-top: 20px;
        margin: 0 auto;
        width: 95%;
        text-align: center;

        span {
            color: #333;
            text-align: center;
            font-size: 16px;
            font-style: italic;
            font-weight: 500;
            line-height: 18px;
        }

        h1 {
            color: #0E3862;
            text-align: center;

            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 46px;
        }

        p {
            color: #333;
            text-align: center;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: var(--max-width);
        margin: 0 auto;
        width: 95%;

        .item {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 {
                color: #1E88E5;
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 36px;
            }
        }
    }

  
  @media screen and (max-width: 750px) {
    gap: 40px;
.title {
  gap: 6px;
  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
  h1 {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
  }
  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

}
    .description {
      gap: 20px;

      .item {
        gap: 10px;
        h3 {
          font-weight: 600;
          font-size: 22px;
          line-height: 28px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      }

    }

  }




}