.blocks {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  gap: 24px;


  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 608px;
    width: 100%;
    gap: 20px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      max-width: 608px;
      width: 100%;
      height: 400px;
      position: relative;
      border-radius: 32px;
      overflow: hidden;
    }

    span {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .item {
      display: flex;
      padding: 14px 20px;
      margin-bottom: 14px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: relative;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.86);

      p {
        color: #0e3862;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
      }
    }

    .description {
      color: #fff;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      padding: 10px 14px;

      border-radius: 14px;
      background: #f04e69;
    }
  }
}

@media (min-width: 1312px) {
  .blocksMobile {
    display: none;
  }

}

@media (max-width: 1311px) {
  .blocksDesktop {
    display: none;
  }

  .blocksMobile {
    ul {
      max-width: 608px;
      width: 100%;
      gap: 15px;

      li {
        max-width: 608px;
        width: 100%;
        height: 400px;
        position: relative;
        border-radius: 32px;
        overflow: hidden;
      }

      .item {
        display: flex;
        padding: 10px 14px;
        margin-bottom: 8px;
        gap: 10px;

        p {
          font-size: 24px;
          font-weight: 700;
          line-height: 30px;
        }
      }

      .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 8px 12px;

        border-radius: 14px;
        background: #f04e69;
      }
    }
  }
}

@media (max-width: 768px) {
  .blocksMobile {

    ul {
      max-width: none;
      width: 100%;
      gap: 15px;

      li {
        max-width: none;
        width: 100%;
        height: 400px;
        position: relative;
        border-radius: 32px;
        overflow: hidden;
      }

      .item {
        display: flex;
        padding: 8px 12px;
        margin-bottom: 8px;
        gap: 10px;

        p {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
        }
      }

      .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 6px 8px;

        border-radius: 8px;
        background: #f04e69;
      }
    }
  }
}