.customInput {
    display: flex;
    flex-direction: column;
    gap: 9px;

    .title {
        color: #869BB0;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }

    input {
        display: flex;
        padding: 11px 15px 12px 15px;
        flex-direction: column;
        align-items: flex-start;
     
        color: #0E3862;
        font-size: 13.5px;
        font-weight: 400;
        line-height: normal;
        border-radius: 12px;
        background: #E7EBEF;
        border: none;
        outline: none;
    }


}