.contactsList {
  display: flex;
 flex-direction: column;
  gap: 20px;
  h3 {
    color: #00AEEF;
    font-size: 36px;
    font-style: normal;
    font-weight:  700;
    line-height:  46px;
    margin: 0 auto;
    @media screen and (max-width: 750px) {
      font-size: 22px;
      font-style: normal;
      font-weight:  600;
      line-height:  28px;
    }
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 40px;
    row-gap: 20px;
    .item {
      display: flex;
      padding:  20px;
      flex-direction: column;
      align-items: center;
      gap:20px;
      border-radius: 32px;
      border: 2px solid #F5CDD3;
      background: #C7EAFB;
      p {
        color:  #0E3862;

        font-size:22px;
        font-style: normal;
        font-weight:  600;
        line-height: 28px;
        text-align: center;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 36px;
        li {
          display: flex;
          align-items: center;
          gap: 10px;

          svg { color: #F04E69;}
          color:  #0E3862;
          font-size: 20px;
          font-style: normal;
          font-weight:600;
          line-height:22px;
          span {
            color:  #0E3862;
            font-size: 20px;
            font-style: normal;
            font-weight:600;
            line-height:22px;
          }
          a {
            color: #F04E69;
            text-align: center;
            font-size:  20px;
            font-style: normal;
            font-weight: 400;
            line-height:  22px;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
          }
        }

      }
    }
    @media screen and (max-width: 960px) {
      grid-template-columns:  1fr ;
     @media screen and (max-width: 750px) {

       .item {
         display: flex;
         padding: 12px;
         flex-direction: column;
       justify-content: left;
         gap:  16px;
         border-radius:  16px;
         border: 2px solid #F5CDD3;
         background: #C7EAFB;
         p {
           font-size: 18px;
           font-style: normal;
           font-weight:  600;
           line-height:  24px;
           text-align: left;
         }
         ul  {
           li {
             font-size: 16px;
             font-style: normal;
             font-weight:  600;
             line-height:  18px;
             text-align: left;
             span {  font-size: 16px;
               font-style: normal;
               font-weight:  600;
               line-height:  18px;}
             a {
               font-size: 16px;
               font-style: normal;
               font-weight:  400;
               line-height:  18px;
             }
           }
         }
       }
     }  
    }
  }
}