.results {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      max-width: 600px;
      width: 100%;
      height: 265px;
      position: relative;
      border-radius: 32px;
      overflow: hidden;
    }

    span {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .percent {
      background: #fff;
      border-radius: 14px;
      position: relative;
      padding: 6px 14px;
      margin: 6px 16px;

      color: #00aeef;
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }

    .text {
      position: relative;
      padding: 10px 14px;
      border-radius: 14px;
      background: #f04e69;
      margin: 16px 16px 16px 16px;

      color: #fff;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  h2 {
    color: #f04e69;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
  }

  p {
    color: #1c1c1c;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
}

.resultsTitle {
  color: #f04e69;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

@media (max-width: 768px) {
  .results {
    gap: 10px;

    .title {
      gap: 6px;

      h2 {
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
      }

      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }
    }

    .resultsTitle {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
    }

    ul {
      gap: 12px;

      li {
        height: 158px;

        .percent {
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          padding: 4px 8px;
          margin: 6px 12px;
        }

        .text {
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          padding: 6px 8px;
          margin: 0 12px 12px 12px;
        }
      }
    }
  }
}

