.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f5f5f5;
  gap: 20px;

  h1 {
    color: #0E3862;
    text-align: center;
    font-size: var(--heading-font-size-heading-md, 28px);
    font-style: normal;
    font-weight: var(--font-weight-semibold, 600);
    line-height: var(--heading-line-height-heading-md, 36px); /* 128.571% */
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 400px;
  }

  @media (max-width: 768px) {
    padding: 0 16px;

    h1 {
      font-size: 22px;
      line-height: 24px;
    }

  }

}


