.forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;

  .police {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  @media (max-width: 1200px) {
    .forgotBanner {
      display: none;
    }
    height: 80vh;
  }

  .forgotRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 72px;
    gap: 24px;
    max-width: 600px;


    @media (max-width: 1115px) {
      padding: 0;
    }

    h2 {
      color: #0E3862;
      text-align: center;
      font-size: var(--heading-font-size-heading-md, 28px);
      font-weight: var(--font-weight-semibold, 600);
      line-height: var(--heading-line-height-heading-md, 36px);

      @media (max-width: 768px) {
        font-size: 22px;
        line-height: 24px;
      }
    }

    .forgotForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      width: 100%;

      @media (max-width: 768px) {
        gap: 18px;
      }

      span {
        color: #0E3862;
        text-align: center;
        font-size: 10.5px;
        font-weight: 400;
        line-height: 15px;

        @media (max-width: 768px) {
          font-size: 12px;
          line-height: 18px;
        }
      }

      .forgotLink {
        color: #0E3862;
        font-weight: 700;
        text-decoration: underline;
        cursor: pointer;
      }

      .forgotButton {
        @media (max-width: 768px) {
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }
  }
}
