.title {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: var(--max-width);
  margin: 0 auto;
  //padding: 60px 30px;
  padding-bottom: 60px;
  padding-top: 60px;
  align-items: self-start;
  width: 95%;
  height: 100%;
  justify-content: flex-end;
  gap: 10px;

  h1 {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
  }

  p {
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 120px;
  max-width: var(--max-width);
  width: 95%;
  margin: 0 auto;
  margin-top: 120px;
  padding-bottom: 120px;
}

@media screen and (max-width: 750px) {
  .content {
    gap: 40px;
    margin-top: 40px;
    padding-bottom: 40px;

  }
  .title {
    padding-bottom: 30px;
    text-align: left;
    gap: 6px;

    h1 {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }

  }

}