.newsList {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  .filters {
    display: flex;
    gap: 20px;
    align-items: center;

    .search {
  display: grid;
  grid-template-columns: 1fr 44px;
  max-width: 400px;
  width: 100%;
  border-radius: 11.579px;
  opacity: 0.8;
  overflow: hidden;
  height: 44px;

  &:hover,
  &:focus-within {
    opacity: 1;
  }

  input {
    background: #C7EAFB;
    padding: 5px 10px;
    border: none;
    color: #0E3862;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    height: 44px;
  }

  button {
    background: #0E3862;
    border: none;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      color: white;
      width: 20px;
      height: 20px;
    }
  }
}

    .sort {
      display: flex;
      gap: 10px;
      align-items: center;

      label {
        color: #00AEEF;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    .card {
      display: flex;
      height: -webkit-fill-available;
      justify-content: space-between;
      padding-bottom: 15px;
      flex-direction: column;
      gap: 14px;
      flex-shrink: 0;
      aspect-ratio: 57/55;
      border-radius: 32px;
      background: #FFF;
      box-shadow: 0 50px 14px 0 rgba(0, 0, 0, 0.00), 0 32px 13px 0 rgba(0, 0, 0, 0.01), 0 18px 11px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.09), 0 2px 4px 0 rgba(0, 0, 0, 0.10);

      .image {
        position: relative;
        overflow: hidden;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;

        img {
          width: 100%;
          height: 100%;
          position: relative !important;
          object-fit: cover;
        }
      }

      .info {
        padding: 0 15px;
        display: flex;
        flex-direction: column;

        gap: 10px;

        .catigory {
          display: flex;
          padding: 4px 10px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          max-width: max-content;
          border-radius: 10px;
          background: #00AEEF;
          color: #FFF;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        }

        .title {
          overflow: hidden;
          color: #0E3862;
          text-overflow: ellipsis;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
        }

        .avatar {
          display: flex;
          gap: 10px;

          .avatarImage {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: #E0E0E0;
          }

          .avatarInfo {
            display: flex;
            flex-direction: column;
            gap: 6px;

            p {
              color: #202020;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
            }

          }

        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    gap: 20px;

    .filters {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .sort {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        gap: 10px;

        label {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }

    .cards {
      gap: 12px;

      .card {
        border-radius: 12px;
        overflow: hidden;

        .image {
          border-radius: 0px;

        }

        .info {
          gap: 8px;

          .catigory {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
          }

          .title {
            text-overflow: ellipsis;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
          }

        }
      }
    }
  }
}