.contacts {
  margin-top: -30px;
  .bannerTitle {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 65px;
    gap: 20px;
    span {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
      }
      h2 {
        color:  #FFF;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      li {
        a {
          color:  #FFF;
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 36px;
        }
      }

    }
  }
  .contend {
    display: flex;
 flex-direction: column;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 95%;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 120px;

  }
  @media screen and (max-width: 750px) {
    .bannerTitle {
      gap: 6px;
      padding-bottom: 35px;
      span {
        gap: 6px;
        h1 {
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 36px;
        }
        h2 {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }
      }
      ul {
        li  a {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;

        }
      }
    }
    .contend {
      padding-top: 40px;
      padding-bottom: 40px;
      gap: 40px;
    }

  }
}