.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    max-width: 751px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    h1 {
      color:#00AEEF;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;

      line-height:46px;
    }
    p {
      color: var(--System-Colors-Web-color-secondary, #F04E69);
      text-align: center;

      font-size:  20px;
      font-style: normal;
      font-weight: 400;
      line-height:32px;
    }
  }
  form {
    display: grid;
    grid-template-columns: 340px 1fr ;
    padding: 50px;
    flex-direction: column;
    gap: 26px;
    border-radius: 60px;
    background: var(--System-Colors-Web-color-primary-light, #C7EAFB);
    box-shadow: 0 71px 20px 0 rgba(1, 109, 152, 0.00), 0 45px 18px 0 rgba(1, 109, 152, 0.01), 0 26px 15px 0 rgba(1, 109, 152, 0.05), 0 11px 11px 0 rgba(1, 109, 152, 0.09), 0 3px 6px 0 rgba(1, 109, 152, 0.10);
    .left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          color: #1C325D;
          font-size: 18px;
          font-style: normal;
          font-weight:  500;
          line-height:  24px;

        }
        input {
          display: flex;
          padding: 20px;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          border-radius: 25px;
          border: 1px solid #C7EAFB;
          background:  #FFF;
          outline: none;
        }
      }
      button {
        max-width: max-content;
        display: flex;
        padding: 10px  14px;
        justify-content: center;
        align-items: center;
        background:  #F04E69;
        border-radius:  20px;
        border: none ;
        cursor: pointer;
        color:  #FFF;
        font-size: 22px;
        font-style: normal;
        font-weight:  600;
        line-height: 28px; /* 127.273% */
      }
    }
    .right {
      display: flex;

      label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 100%;
        p {
          color: #1C325D;
          font-size: 18px;
          font-style: normal;
          font-weight:  500;
          line-height:  24px;

        }
        textarea {
          display: flex;
          padding: 20px;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          border-radius: 25px;
          border: 1px solid #C7EAFB;
          background:  #FFF;
          height: -webkit-fill-available;
          outline: none;
        }
      }
      button {
        display: none;
      }

    }

  }
  @media screen and (max-width: 830px) {
    .title {
      gap: 10px;
      h1 {
        font-size: 22px;
        font-weight: 600;
        line-height:  24px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height:  18px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 24px 20px;
      border-radius: 16px;
      .left  label {
        gap: 3px;
        p {
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
        }
        input {
          border-radius: 6px;
          padding: 6px;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height:  18px;
        }
      }
      .left  button {
        display: none;
      }
      .right {
        display: flex;
        flex-direction: column;
        gap: 26px;
      }
      .right label {
        gap: 3px;
        p {
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
        }
        textarea {
          border-radius: 6px;
          padding: 6px;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height:  18px;
        }


      }

      .right  button {
        max-width: max-content;
        display: flex;
        padding: 8px  18px;
        justify-content: center;
        align-items: center;
        background:  #F04E69;
        border-radius:  20px;
        border: none ;
        cursor: pointer;
        color:  #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight:  500;
        margin: 0 auto;
        line-height: 20px; /* 127.273% */
      }
    }
  }
}