.payment {
  margin: 0 auto;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 60px;
  background: #FFF;
  max-width: 930px;
  width: 100%;
  box-shadow: 0 202px 57px 0 rgba(0, 0, 0, 0.00), 0 129px 52px 0 rgba(0, 0, 0, 0.01), 0 73px 44px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.09), 0 8px 18px 0 rgba(0, 0, 0, 0.10);
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h2 {
      color: #00AEEF;
      font-size: 34px;
      font-weight: 700;
      line-height: 46px;
      text-align: center;
    }
    p {
      color: #F04E69;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
    }
  }
  .form {
    width: 100%;
  }
  .btn {
    display: flex;
    padding: 14px  30px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius:  20px;
    background:#00AEEF;
    color:  #FFF;
    font-size:28px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    border: none;
    line-height: 36px;
    &.loading {
      background: #A0D9EF;
      cursor: not-allowed;

    }
  }
  .paymentMethods {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  .agreement {
    display: flex;
    align-items: center;
    gap: 10px;

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }

    label {
      font-size: 14px;
      color: #888;

      a {
        color: #00AEEF;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .payment {
    padding: 30px 20px;
    gap: 15px;
    margin: 0px;

    width: auto;
    border-radius: 16px;
    border: 2px solid  #C7EAFB;
    background:#FFF;
    .title {
      gap: 10px;
      h2 {
        font-size: 18px;
        line-height: 1.3;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
      }
    }
    .btn {
      display: flex;
      padding: 8px  18px;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height:  20px;
      border-radius: 12px;
      background: #00AEEF;
    }
    .paymentMethods {
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}