.partners {

  h1 {
    color: #00AEEF;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
    padding-bottom: 14px;
  }

  p {
    color: #0E3862;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 127.273% */
    padding-bottom: 20px;
  }

  .blocks {
    padding: 0 0 24px 0;
  }

  .blocksTwo {
    padding: 0 0 24px 0;
  }
}
.images {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
position: relative !important;
}
@media (max-width: 768px) {
  .partners {

    h1 {
      color: #00AEEF;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px; /* 127.273% */
    }

    p {
      color: #0E3862;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px; /* 150% */
    }
  }
  .images {
    height: 100px;
  }
}
