.contribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    color: #00AEEF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
    padding-bottom: 20px;
  }

  @media (max-width: 1310px) {
    .blocks {
      display: none;
    }
  }
}

.blocks {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  overflow: visible;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 608px;
    width: 100%;
    gap: 20px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      max-width: 608px;
      width: 100%;
      height: 400px;
      position: relative;
      border-radius: 32px;
      overflow: hidden;
    }

    span {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .item {
      display: flex;
      padding: 14px 20px;
      margin-bottom: 14px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: relative;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.86);

      p {
        color: #0E3862;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 128.571% */
      }
    }

    .description {
      color: #fff;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      padding: 10px 14px;

      border-radius: 14px;
      background: #f04e69;
    }
  }
}

@media (min-width: 1311px) {
  .swiperWrapper {
    display: none;
  }
}

@media (max-width: 1311px) {
  .swiperWrapper {
    width: 100%;

    .blocksMobile {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      overflow: visible;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        //max-width: 608px;
        //width: 100%;
        gap: 20px;

        li {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          //max-width: 608px;
          //width: 100%;
          height: 400px;
          position: relative;
          border-radius: 32px;
          overflow: hidden;
        }

        span {
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .item {
          display: flex;
          padding: 14px 20px;
          margin-bottom: 14px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          position: relative;
          border-radius: 20px;
          background: rgba(255, 255, 255, 0.86);

          p {
            color: #0E3862;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px; /* 128.571% */
          }
        }

        .description {
          color: #fff;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          padding: 10px 14px;

          border-radius: 14px;
          background: #f04e69;
        }
      }
    }
  }
}

@media (max-width: 1311px) {
  .contribution {
    .title {
      text-align: center;
      font-size: var(--heading-font-size-heading-md, 22px);
      font-style: normal;
      font-weight: var(--font-weight-semibold, 600);
      line-height: var(--heading-line-height-heading-md, 28px); /* 127.273% */
    }
    .swiperWrapper {
      overflow: visible;

      .blocksMobile {
        gap: 24px;

        ul {
          //max-width: 608px;
          width: 100%;
          gap: 8px;

          li {
            //max-width: 608px;
            width: 100%;
            height: 400px;
            border-radius: 32px;
            overflow: hidden;
          }

          span {
            position: absolute;
            width: 100%;
            height: 100%;
          }

          .item {
            padding: 4px 8px;
            margin-bottom: 14px;
            gap: 10px;
            border-radius: 20px;

            p {
              text-align: center;
              font-size: 18px;
              font-weight: 600;
              line-height: 24px; /* 128.571% */
            }
          }

          .description {
            color: #fff;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            padding: 6px 8px;

            border-radius: 14px;
            background: #f04e69;
          }
        }
      }
    }
  }

}

