.ourFriends {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 95%;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    gap: 50px;
    flex-direction: column;

    .info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 20px;

        h3 {
            color: #00AEEF;

            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 46px;
        }



        button {
            max-width: max-content;
            display: flex;
            padding: 14px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 20px;
            background: #F04E69;
            margin: 0 auto;
            color: #FFF;
            text-align: center;
            border: none;
            cursor: pointer;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px;
        }
    }
    @media screen and (max-width: 900px) {
        padding-top: 60px;
        padding-bottom: 60px;
        .info {
            gap: 10px;

            h3 {
                font-size: 22px;

                font-weight: 600;
                line-height: 28px;
            }

            button {
                svg {
                    width: 20px;
                    height: 20px;
                }
                font-size: 16px;

                font-weight: 500;
                line-height: 20px;
                padding: 10px 14px;
            }
        }
        
    }
}