.donationImpact {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        color: #00AEEF;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;


        .card {
            display: flex;
            position: relative;
            overflow: hidden;
            display: flex;
            height: 265px;
            align-items: flex-end;
            position: relative;
            gap: 40px;
            display: flex;
            padding: 16px;
            align-items: flex-end;
            border-radius: 32px;

            div {
                position: relative;
                z-index: 1;
                gap: 10px;
                display: flex;
                flex-direction: column;

                max-width: max-content;
                h3 {
                    display: flex;
                    padding: 6px 14px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 14px;
                    background: #FFF;
                    color: #00AEEF;
                    text-align: center;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    max-width: max-content;
                    line-height: 28px;
                }

                p {
                    display: flex;
                    padding: 10px 14px;
                    justify-content: center;
                    align-items: center;
                    color: #FFF;
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    border-radius: 14px;
                    background: #F04E69;
                    max-width: max-content;
                }
            }
        }
    }
  @media screen and (max-width: 750px) {
    h2 {
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
.cards {
  grid-template-columns: repeat(1, 1fr);
  .card {
    display: flex;
    padding:  12px;
    border-radius: 15px;
    min-height: 160px;
    align-items: flex-end;
    height: 100%;
    div {
      gap: 8px;
      h3 {
        display: flex;
        padding:  4px  8px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height:  20px;
      }
      p {
        display: flex;
        padding:  4px  8px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-size: 12px;
        font-style: normal;
        font-weight:  400;
        line-height:  18px;
      }

    }


  }
}
  }
}