.mobileNavs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .navItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .tab {
    cursor: pointer;
    transition: 400ms;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #00aeef;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-decoration: none;
    background: none;
    border: none;
  }

  .tab:hover {
    opacity: 0.6;
    transition: 400ms;
  }

  .active {
    border-bottom: 1px solid #0e3862;
    color: #0e3862;
  }

  /* Подменю */
  .subMenu {
    display: flex;
    justify-content: center;
    gap: 12px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
  }

  .open {
    max-height: 200px; /* регулируй под контент */
    opacity: 1;
    margin-top: 8px;
  }

  .subLink {
    color: #00aeef;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    padding: 4px 0;

    &:hover {
      color: #0e3862;
      border-bottom: 1px solid #0e3862;
    }
  }
  .activeSub {
    color: #0e3862;
    border-bottom: 1px solid #0e3862;
  }
}

