.fAQ {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    h3 {
      color: #00AEEF;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
    }

    p {
      color: #0E3862;
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
  }

  .faq {
    display: flex;
    flex-direction: column;
    border-radius: 30px;

    border: 1px solid #9a9ea0;
    overflow: hidden;

    max-width: 860px;
    position: relative;
    margin: 0 auto;

    .item {
      display: grid;
      grid-template-columns: max-content 1fr 48px;
      gap: 52px;
      padding: 52px 60px;
      text-align: left;
      cursor: pointer;

      .index {
        color: #F04E69;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 6px;

        h4 {
          color: #00AEEF;
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 36px;
        }

        p {
          color: #1C1C1C;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 36px;
        color: #F04E69;
        height: fit-content;

      }
      .activeButton {
        align-items: center;
        display: flex;
        width: 48px;
        min-width: 48px;
        min-height: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50%;
        color: #fff;
        background: #F04E69;
        transform: rotate(90deg);
      }

    }

    }
    .active {
      background: #c7eafb;
    }
  }

  @media screen and (max-width: 760px) {
    .fAQ {
      .title {
        gap: 6px;

        h3 {
          text-align: center;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
        }

        p {
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        }
      }

      .faq {
        border-radius: 15px;


        .item {
          display: flex;
          justify-content: center;
          gap: 11px;
          padding: 16px;
          padding-top: 32px;
          padding-bottom: 32px;
          flex-direction: column;
          align-items: flex-start;

          .index {
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
          }
          .content {
            h4 {
              color: #00AEEF;
              font-size: 22px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24p;
            }
          }
          .activeButton {
            display: none;
          }
          button {
            display: none;
          }
        }

      }
    }

}