.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;

  .swiperContainer {
    max-width: -webkit-fill-available;
    width: -webkit-fill-available;
  }

  .title {
    color: #00AEEF;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
    padding-bottom: 60px;
  }

  .description {
    color: #0E3862;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 128.571% */
    padding-bottom: 30px;
  }

  .qrBox {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    aspect-ratio: 1/1;
    border-radius: 32px;
    border: 2px solid #C7EAFB;
    background: #FFF;
    margin-bottom: 40px;

    .qr {
      display: flex;
      position: relative;

      height: auto;
      padding: 20px;
      aspect-ratio: 1/1;
      border-radius: 32px;
      //border: 2px solid #C7EAFB;
      background: #FFF;
      margin-bottom: 40px;

      .img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

}

.swiper {
  padding-bottom: 100px !important;

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f0f0f0; // gray background
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      font-size: 10px !important; // arrow size
      font-weight: bold;
    }
  }

  //:global(.swiper-slide) {
  //  width: 45.166% !important;
  //  max-width: 560px;
  //}
  @media (max-width: 1024px) {
    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      display: none !important;
    }
  }
}

.box {
  width: 100%;
  flex-shrink: 0 !important;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border-radius: 32px;
  border: 2px solid #C7EAFB;
  background: #FFF;

  .boxTitle {
    color: #0E3862;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-bottom: 2px solid #F5CDD3;
    padding-bottom: 10px;
  }

  .boxDescription {
    color: #F04E69;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .container {

    .title {
      font-size: 22px;
      line-height: 28px;
      padding-bottom: 6px;
    }

    .swiper {
      padding-bottom: 26px !important;
    }

    .box {
      padding: 10px;

      .boxTitle {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
      }

      .boxDescription {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }
    }

    .description {
      font-size: 18px;
      line-height: 24px; /* 128.571% */
      padding-bottom: 18px;
    }
  }
}
