.content {
  display: flex;
  flex-direction: column;
  gap: 120px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 120px 0 120px 0;
  width: 95%;
}

.title {
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-end;
  //text-align: center;
  gap: 10px;
}

.title h1 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  padding: 0;
}

.title .description {
  margin: 0;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 127.778% */
}

.title .donation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

.title .donation .bold {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

@media (max-width: 768px) {
  .content {
    padding: 40px 0 40px 0;
    gap: 40px;
  }

  .title {
    padding: 16px 20px;
    gap: 6px;
    text-align: left;
    //align-items: flex-start;

    h1 {
      font-size: 28px;
      font-weight: 700;
      line-height: 36px;
      text-align: left;
    }

    .description {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding-bottom: 0px;
      text-align: center;
    }

    .donation {
      gap: 6px;

      .bold {
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
      }
    }
  }
}
