.programs {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding-bottom: 50px;

    .text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            color: #F04E69;
            font-size: 36px;
            font-weight: 700;
            line-height: 46px;
        }

        p {
            color: #1C1C1C;
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            line-height: 28px;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;

        li {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 608px;
            height: 265px;
            position: relative;
            border-radius: 32px;
            overflow: hidden;

            span {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            p {
                display: flex;
                padding: 6px 12px;
                border-radius: 14px;
                background: rgba(199, 234, 251, 0.88);
                justify-content: center;
                align-items: center;
                z-index: 1;
                position: relative;
                color: #0E3862;
                text-align: center;
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: 20px;
                line-height: 36px;
            }
        }

    }

    @media screen and (max-width: 700px) {
        gap: 10px;

        .text {
            gap: 6px;

            h3 {
                font-size: 22px;
                line-height: 28px;
                font-weight: 600;
            }

            p {
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
            }
        }

        ul {
            gap: 12px;

            li {
                border-radius: 16px;

                p {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    padding: 4px 8px;
                    margin-bottom: 20px;
                    margin-left: 10px;
                    margin-right: 10px;
                }

            }
        }

    }

}