.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .btn {
    font-size: var(--heading-font-size-heading-md, 28px) !important;
    font-style: normal !important;
    font-weight: var(--font-weight-semibold, 600) !important;
    line-height: var(
      --heading-line-height-heading-md,
      36px
    ) !important;
  }

  p {
    color: var(--System-Colors-Web-color-primary, #00aeef);
    font-size: var(--heading-font-size-heading-lg, 36px);
    font-style: normal;
    font-weight: var(--font-weight-bold, 700);
    line-height: var(--heading-line-height-heading-lg, 46px);
  }
}

@media (max-width: 768px) {
  .options {
    gap: 12px;

    .btn {
      font-size: var(--heading-font-size-heading-md, 16px) !important;
      font-style: normal !important;
      font-weight: var(--font-weight-semibold, 500) !important;
      line-height: var(
                      --heading-line-height-heading-md,
                      20px
      ) !important;
    }

    p{
      font-size: var(--heading-font-size-heading-sm, 18px);
      font-weight: var(--font-weight-semibold, 600);
      line-height: var(--heading-line-height-heading-sm, 24px); /* 133.333% */
    }
  }
}