.ourModele {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;

  h2 {
    padding: 0;
    margin: 0;
    color: #f04e69;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
  }

  p {
    color: #1c1c1c;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
  }
}

.block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center;
  gap: 20px;

  .blockItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
    max-width: 610px;
    width: 100%;
    border-radius: 32px;
    background:  #c7eafb;

    .itemImage {
      position: relative;
      width: 200px;
      height: 200px;
      min-width: 200px;
      min-height: 200px;
    }
  }
}

@media (max-width: 768px) {
  .ourModele {
    gap: 20px;

    .title {
      gap: 6px;

      h2 {
        font-size: 22px;
        font-weight: 600;
        line-height: 28px; /* 127.273% */
      }

      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px; /* 150% */
      }
    }

    .block {
      gap: 16px;

      .blockItem {
        padding: 20px;
        gap: 10px;

        h3 {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px; /* 133.333% */
        }
      }
    }
  }
}
