.cards {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h3 {
        color: #00AEEF;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
    }

    .cardList {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        .card {
            width: 320px;
            position: relative;
            overflow: hidden;
            height: 300px;
            background-color: red;
            border-radius: 50px;
            border: 2px solid rgba(199, 234, 251, 0.80);
            background: #FEFEFE;
            display: flex;
            justify-content: center;
            padding: 15px;
            align-items: center;
            box-shadow: 0 4px 50px 2px rgba(0, 158, 224, 0.07);

            .cardImage {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                text-align: center;
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 36px;

            }
        }
    }

    @media screen and (max-width: 900px) {
        h3 {
            text-align: center;
            font-size: 22px;

            font-weight: 600;
            line-height: 28px;
        }

        .cardList {
            justify-content: center;
            gap: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

            .card {
                width: 100%;
                height: 180px;
                border-radius: 20px;
                
                .cardImage {
                    gap: 10px;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                }
            }
        }

    }

}